---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Sandhurst,%20Sandton,%20South%20Africa&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Sandhurst\",\n               \"short_name\"
        : \"Sandhurst\",\n               \"types\" : [ \"sublocality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Sandton\",\n
        \              \"short_name\" : \"Sandton\",\n               \"types\" : [
        \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Johannesburg\",\n               \"short_name\" : \"Johannesburg\",\n               \"types\"
        : [ \"administrative_area_level_3\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"City of Johannesburg Metropolitan Municipality\",\n
        \              \"short_name\" : \"City of Johannesburg Metropolitan Municipality\",\n
        \              \"types\" : [ \"administrative_area_level_2\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Gauteng\",\n
        \              \"short_name\" : \"GP\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"South Africa\",\n               \"short_name\" : \"ZA\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Sandhurst, Sandton, South Africa\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : -26.08320180,\n
        \                 \"lng\" : 28.0561920\n               },\n               \"southwest\"
        : {\n                  \"lat\" : -26.1199190,\n                  \"lng\" :
        28.028730\n               }\n            },\n            \"location\" : {\n
        \              \"lat\" : -26.11064850,\n               \"lng\" : 28.04349180\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : -26.10413690,\n
        \                 \"lng\" : 28.0561920\n               },\n               \"southwest\"
        : {\n                  \"lat\" : -26.1199190,\n                  \"lng\" :
        28.03066810\n               }\n            }\n         },\n         \"postcode_localities\"
        : [],\n         \"types\" : [ \"sublocality\", \"political\" ]\n      }\n
        \  ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Wed, 22 May 2013 13:48:24 GMT
recorded_with: VCR 2.4.0
