---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Kliptown,%20Soweto,%20Johannesburg&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Kliptown\",\n               \"short_name\"
        : \"Kliptown\",\n               \"types\" : [ \"train_station\", \"transit_station\",
        \"establishment\" ]\n            },\n            {\n               \"long_name\"
        : \"Klipspruit 298-Iq\",\n               \"short_name\" : \"Klipspruit 298-Iq\",\n
        \              \"types\" : [ \"sublocality\", \"political\" ]\n            },\n
        \           {\n               \"long_name\" : \"Soweto\",\n               \"short_name\"
        : \"Soweto\",\n               \"types\" : [ \"locality\", \"political\" ]\n
        [...]
