---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Braamfontein,%20Johannesburg,%20South%20Africa&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Braamfontein\",\n               \"short_name\"
        : \"Braamfontein\",\n               \"types\" : [ \"train_station\", \"transit_station\",
        \"establishment\" ]\n            },\n            {\n               \"long_name\"
        : \"Smit Street\",\n               \"short_name\" : \"Smit St\",\n               \"types\"
        : [ \"route\" ]\n            },\n            {\n               \"long_name\"
        : \"Johannesburg\",\n               \"short_name\" : \"Johannesburg\",\n               \"types\"
        : [ \"sublocality\", \"political\" ]\n            },\n            {\n  [...]
